::ng-deep .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      height: 46px;
    }
    .mat-form-field-label {
      transform: translate(0, -3px);
    }
  }
  