/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-size: 14px;
}

.wraper {
  overflow: hidden;
}

img,
svg {
  max-width: 100%;
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  height: 42px;
}
